# dependencies
/node_modules

# build
lambda.zip

# debugging database
database.sqlite

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# configuration
config.json
config-*.json

# package lock
package-lock.json

# Emacs
*~
\#*\#
